name: CI
on:
    pull_request:
    push:
        branches:
            - master
        tags:
            - 'v*.*.*'

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup MetaCall CLI
              run: wget -O - https://raw.githubusercontent.com/metacall/install/master/install.sh | sh

            - name: Setup NodeJS
              uses: actions/setup-node@v2
              with:
                  node-version: '18'
                  registry-url: https://registry.npmjs.org

            - name: Update NPM
              run: npm install -g npm@latest

            - name: Installing Dependencies
              run: npm i

            - name: Lint
              run: npm run lint

            - name: Build
              run: npm run build

            # TODO: Have working unit tests generated
            # - name: Run Unit Tests
            #   run: |
            #       npm run test

            # Integration tests, first docker compose up runs the normal test.
            # The second one runs the test without deleting the FaaS container,
            # and the environment varialbe TEST_FAAS_STARTUP_DEPLOY forces the
            # test to avoid deploying again all the deployments. By this we are
            # testing if the startup initialization works because the deployments
            # are persisted from the previous run.
            - name: Run Integration Tests
              shell: bash
              run: |
                  docker compose build
                  docker compose up --exit-code-from test
                  TEST_FAAS_STARTUP_DEPLOY=true docker compose up --exit-code-from test
                  TEST_FAAS_DEPENDENCY_DEPLOY=true docker compose up --exit-code-from test
                  docker compose down

            - name: Publish
              uses: JS-DevTools/npm-publish@v1
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  access: 'public'
                  token: ${{ secrets.NPM_AUTH_TOKEN }}
